[submodule "libgit2"]
	path = libgit2
	url = https://github.com/UiPath/libgit2.git
	ignore = untracked
[submodule "libssh2"]
	path = libssh2
	url = https://github.com/libssh2/libssh2.git
	ignore = untracked
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
	branch = OpenSSL_1_1_1-stable
	ignore = untracked
